{% extends "base.html" %}


<!-- templates/user/create_product.html -->

{% block title%}
Add Product
{% endblock %}

{% block wrapper%}<div align="centre"><h1 class="display-4">Add Product to <a href="{{url_for('app_views.rud_store', store_id=store.id)}}">{{ store.name }}</a></h1></div>{% endblock %}
{% block content %}
<div class="content-section">
	{% include 'includes/_formerror.html' %}
  <br/>
  {% if form.csrf_token.errors %}
    <div class="warning">You have submitted an invalid CSRF token</div>
  {% endif %}
  <br/>
  <div class="table-responsive">
    <br/>
    <form action="{{url_for('app_views.create_product', store_id=store.id)}}" method="POST">
    {{ form.csrf_token }}
    {% for field in form if not field.name in ["csrf_token", 'product_stores', 'submit'] %}
		<p>{{ field.label }}: {{ field }} <b>{{ " ".join(field.errors) }}</b></p>
	{% endfor %}
	    <p hidden='hidden'>{{ form.product_stores.label }}: {{ form.product_stores }} <b>{{ " ".join(form.product_stores.errors) }}</b></p>
    {{form.submit}}
    </form>
  </div>
</div>
{% endblock %}