{% extends "base.html" %}

<!-- templates/user/list_prices.html -->

{% block title%}
List Posts
{% endblock %}

{% block wrapper%}<div align="centre"><h1 class="display-4">Posts</h1></div>{% endblock %}

{% block content %}
<ul id="price_list" class="price_list">

	{% for price in prices %}
	<li>
		<h4>
		    <a href="{{url_for('app_views.rud_price', store_id=price.product.store_id, product_id=price.product_id, price_id=price.id) }}">
		        {{price.amount}}
		    </a>
		    - <a href="{{url_for('app_views.rud_product', store_id=price.product.store_id, product_id=price.product_id) }}">{{price.product.name}}</a>
		  </h4>
		<h3>
			Is Marked as Discounted {{price.is_discount}}
		</h3>
		<h3>
			<a href="{{url_for('app_views.rud_price', store_id=price.product.store_id, product_id=price.product_id, price_id=price.id) }}">
		        From {{price.created_at.strftime("%c")}} to {{price.fetched_at.strftime("%c")}}
		    </a>
		</h3>
	</li>
	{% endfor %}
</ul>
<a class="link" href="#">Create New Price</a>
{% endblock %}
