{% extends "base.html" %}

<!-- templates/user/list_products.html -->

{% block title%}
List Products
{% endblock %}

{% block wrapper%}<div align="centre"><h1 class="display-4">Products</h1></div>{% endblock %}

{% block content %}
{% if products | length != 0 %}
<ul id="product_list" class="product_list">
	{% for product in products.items %}
	<li>
		<h4><a href="{{ url_for('app_views.rud_product', store_id=product.store_id, product_id=product.id) }}"> {{ product.name }} </a> in <a href="{{ url_for('app_views.rud_store', store_id=product.store_id) }}"> {{ product.store.name }} </a> </h4>
		<h5>
			{{ product.link }}
		</h5>
		<h5>
			{{ product.reference }}
		</h5>
	</li>
	{% endfor %}
</ul>

<div class="pagination">
	{% if page > 1 %}
	<a href="{{ url_for('app_views.rud_store', store_id=products[0].store_id, page=(page-1)) }}">Previous</a>
	{% endif %}

	{% for page_num in range(page+1, page+4) %}
	{% if page_num < total_pages %}
	<span>
		<pre> <a href="{{ url_for('app_views.rud_store', store_id=products[0].store_id, page=(page_num)) }}">{{ page_num }}</a> </pre>
	</span>
	{% endif %}
	{% endfor %}
	<span> ... </span>
	{% for page_num in range(total_pages - 3, total_pages + 1) %}
	{% if page_num > page %}
	<span>
		<pre><a href="{{ url_for('app_views.rud_store', store_id=products[0].store_id, page=(page_num)) }}">{{ page_num }}</a> </pre>
	</span>
	{% endif %}
	{% endfor %}

	{% if page < (total_pages) %}
	<a href="{{ url_for('app_views.rud_store', store_id=products[0].store_id, page=(page+1)) }}">Next</a>
	{% endif %}
</div>
{% else %}
<p>No products available.</p>
{% endif %}

<a class="link" href="#">Create New Product</a>
{% endblock %}
